Package: com.yourcompany.traxus
Name: Traxus
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: trap
Author: trap
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
